#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-Duse_system_wlroots=enabled \
		-Duse_system_wfconfig=disabled \
		$(NULL)
